<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_supermarket"
    android:usesCleartextTraffic="true">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESupermarket"
        android:usesCleartextTraffic="true">
        <activity android:name=".Kurir.Activity.VerifikasiNewNoponKurirActivity"></activity>
        <activity android:name=".Pembeli.Activity.VerifikasiNewNoPonselPembeliActivity" />
        <activity android:name=".Kurir.Activity.FormEditProfileKurirActivity" />
        <activity android:name=".Pembeli.Activity.FormEditProfilePembeliActivity" />
        <activity android:name=".Penjual.Activity.FormEditProfilePenjualActivity" />
        <activity android:name=".Kurir.Activity.HalamanProfilKurirActivity" />
        <activity android:name=".Kurir.Activity.HalamanUtamaKurirActivity" />
        <activity android:name=".Kurir.Activity.FormDataKurirActivity" />
        <activity android:name=".Kurir.Activity.LupaNoponKurirActivity" />
        <activity android:name=".Kurir.Activity.VerifyOtpKurirActivity" />
        <activity android:name=".Kurir.Activity.SendOtpKurirActivity" />
        <activity android:name=".Pembeli.Activity.LupaNomorPonselPembeliActivity" />
        <activity android:name=".Pembeli.Activity.ProfilePembeliActivity" />
        <activity android:name=".Pembeli.Activity.ChatPembeliActivity" />
        <activity android:name=".Pembeli.Activity.OrderanPembeliActivity" />
        <activity android:name=".Pembeli.Activity.HalamanUtamaPembeliActivity" />
        <activity android:name=".Penjual.Activity.HalamanProfilePenjualActivity" />
        <activity android:name=".Penjual.Activity.HalamanChatPenjualActivity" />
        <activity android:name=".Penjual.Activity.HalamanNotifPenjualActivity" />
        <activity android:name=".Penjual.Activity.VerifikasiEmailPenjualActivity">
            <intent-filter>
                <action android:name=".VerifikasiEmailPenjualActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Penjual.Activity.LupaNomorPonselActivity">
            <intent-filter>
                <action android:name=".LupaNomorPonselActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Penjual.Activity.Form_Edit_Produk_Activity">
            <intent-filter>
                <action android:name=".Form_Edit_Produk_Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Penjual.Activity.AddDataActivityPenjual">
            <intent-filter>
                <action android:name=".AddDataActivityPenjual" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Penjual.Activity.HalamanUtamaPenjualActivity">
            <intent-filter>
                <action android:name=".HalamanUtamaPenjualActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Pembeli.Activity.FormDataPembeliActivity">
            <intent-filter>
                <action android:name=".FormDataPembeliActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Penjual.Activity.FormDataPenjualActivity">
            <intent-filter>
                <action android:name=".FormDataPenjualActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Pembeli.Activity.VerifyOTPActivityPembeli" />
        <activity android:name=".Pembeli.Activity.SendOTPActivityPembeli">
            <intent-filter>
                <action android:name=".SendOTPActivityPembeli" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Penjual.Activity.VerifyOTPActivityPenjual"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name=".VerifyOTPActivityPenjual" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Penjual.Activity.SendOTPActivityPenjual"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name=".SendOTPActivityPenjual" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>